html, body {
  margin: 0;
  padding: 0;
}
.featured-track {
  display: flex; /*row alignment*/
  gap: 20px; /*card spacing*/
  padding: 20px;
  overflow-x: auto; /*auto scroll/*
  scroll-snap-type: x mandatory; /*snap*/

  -webkit-overflow-scrolling: touch; /*smoother scrolling, especially on ios*/
}
.featured-track::-webkit-scrollbar {
  display: none;
} 
/*Card Styling*/
.featured-card {
  flex: 0 0 250px;
  scroll-snap-align: start;
  border: 1px solid #ddd; /*card color*/
  border-radius: 8px;
  background: white;
  padding: 10px;
}
.featured-card img {
  width: 100%;
  height: 200px;
  object-fit: cover; /*good crop*/
  border-radius: 4px;
}
/* Controls Featured Products Headline*/
.--prod-headline {
  margin-left: 40px;
}
.featured-link {
    display: inline-block;      /* keeps the card width */
    flex: 0 0 auto;             /* prevent shrinking in flex container */
    text-decoration: none;
    color: inherit;
}
.featured-link:hover .featured-card {
  transform: scale(1.007);
  box-shadow: 0 4px 15px rbga(0,0,0,0.2); 
  transition: transform 0.2 ease, box-shadow 0.2s ease;
}
.featured-product-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem 1rem;
  flex-wrap: wrap;
}
.featured-text {
  flex: 1 1 400px;
  min-width: 250px;
  max-width: 600px;
  margin: 12rem 8rem 0rem 10rem;
}
.featured-text h2 {
    margin: 1rem 0 -3.5rem 0; /* top right bottom left */
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
}
.featured-text p {
    margin: 0 0 0.5rem 0; /* top right bottom left */
} 
.featured-image {
  flex: 0 0 600px;
  display: flex;
  justify-content: center;
  
  
}
.featured-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  margin-top: 4rem;
  }